/* Animation */
@keyframes change-background {
  0% {
    background-image: url("../images/home-slide-1.jpg");
  }
  50% {
    background-image: url("../images/home-slide-2.jpg");
  }
  100% {
    background-image: url("../images/home-slide-3.jpg");
  }
}
/* Animation */
